.display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-height: 247px;

}

.time-container {
  color: #ccc;
  display: flex;
  letter-spacing: 2px;
}

.time-container span {
  position: relative;
  top: 5px;
  font-size: 4rem;
}

.timer-text {
  margin: 0;
  font-size: 5rem;
}