.main-container {
  margin: 0px;
  background: linear-gradient(#15171b, #122b5c);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
}

.div2 {
  grid-area: 1 / 3 / 3 / 5;
}

.div3 {
  grid-area: 1 / 5 / 3 / 7;
}

.div4 {
  grid-area: 3 / 1 / 5 / 3;
}

.div5 {
  grid-area: 3 / 3 / 5 / 5;
}

.div6 {
  grid-area: 3 / 5 / 5 / 7;
}

.div7 {
  grid-area: 5 / 1 / 7 / 3;
}

.div8 {
  grid-area: 5 / 3 / 7 / 5;
}

.div9 {
  grid-area: 5 / 5 / 7 / 7;
}